<header>
    <h1 class="logo"><a href="{{ url_for('main.dashboard') }}">Open Food Facts</a></h1>
    
    <!-- Bouton du menu burger pour mobile -->
    <button class="burger-menu" aria-label="Ouvrir le menu" onclick="toggleMenu()">
        &#9776; <!-- Icône de burger -->
    </button>

    <!-- Navigation principale (pour desktop) -->
    <nav class="menu" aria-label="Navigation principale">
        <a href="{{ url_for('main.dashboard') }}" aria-label="Accueil">Accueil</a>
        <a href="{{ url_for('main.predict') }}" aria-label="Prédire Nutri-Score">Prédire Nutri-Score</a>
        <a href="#" aria-label="À propos">À propos</a>
        <a href="#" aria-label="Contact">Contact</a>
    </nav>

    <!-- Menu mobile (masqué par défaut) -->
    <nav class="mobile-menu" id="mobileMenu" aria-label="Navigation mobile">
        <a href="{{ url_for('main.dashboard') }}" aria-label="Accueil">Accueil</a>
        <a href="{{ url_for('main.predict') }}" aria-label="Prédire Nutri-Score">Prédire Nutri-Score</a>
        <a href="#" aria-label="À propos">À propos</a>
        <a href="#" aria-label="Contact">Contact</a>
    </nav>
</header>

<script>
    function toggleMenu() {
        const mobileMenu = document.getElementById('mobileMenu');
        mobileMenu.classList.toggle('active');
    }
</script>


